<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="all">
</head>

<body>
    <div class="content">
        <div id="header">
            <a href="/">
                <img class="top_image" src="media/ARCH_logo.png" alt="VPH-ARCH european project">
            </a>
        </div>
        <div class="header_button_container">
            <a class="menuitem_first" href="download.html">Download</a>
            <a class="menuitem" href="installation.html">Installation</a>
            <a class="menuitem" href="tutorial.html">Tutorial</a>
            <a class="menuitem" href="screenshots.html">Screenshots</a>
            <a class="menuitem" href="dataRepo.html">Data Repository</a>
        </div>        
	    {{ content }}
        <div id="footer_container">
            <div id="footer">
                Powered by <a href="http://www.orobix.com/"><b>Orobix</b></a>
            </div>
        </div>
    </div>
</body>

</html>