<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/menu.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="js/prototype.js"></script>
	<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
	<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body>
	<div class="header">
      <a href="/">
        <div class="header_container"> 
          <div class="header"></div>
        </div>
      </a>
    </div>
	<div class="header_menu_container"> 
	<ul id="menu">
  		<li><a href="index.html" target="_self">Home</a></li>
		<li><a href="download.html" target="_self">Download</a></li>
  		<li><a href="installation.html" target="_self">Installation</a></li>
  		<li><a href="documentation.html" target="_self">Documentation</a></li>
  		<li><a href="dataRepo.html" target="_self">Data Repository</a></li>
	</ul>
	</div>
	<div class="content_box">
	<div class="content">
	    {{ content }}
	</div>
	</div>
	<div class="footer_container">
            <div class="footer">
			<div class="attachment_container">
	  			<a href="http://www.orobix.com" title="www.orobix.com" target="_blank"><img class="logo" src="media/orobix.png" alt="Orobix"/></a>
				<a href="http://www.vph-arch.eu" title="www.vph-arch.eu" target="_blank"><img class="logo" src="media/arch.png" alt="Arch"/></a>
				<a href="http://www.marionegri.it" title="www.www.marionegri.it" target="_blank"><img class="logo" src="media/mni.png" alt="Mario Negri Institute"/></a>
    		</div>
            </div>
        </div>
</body>		
</html>
